#portfolioCards {
    margin: 50px;
}

/* .fab fa-linkedin {
    padding: 48x;
    margin: 100px;
} */
.fa-linkedin {
    font-size: 48px;
    color: dodgerblue;
}

.fa-github-square {
    font-size: 48px;
    color: Black;
}

.fa-stack-overflow {
    font-size: 48px;
    color: orange;
}

