#portfolioCards {
    margin: 50px;
}

/* .fab fa-linkedin {
    padding: 48x;
    margin: 100px;
} */
.fa-linkedin {
    font-size: 48px;
    color: dodgerblue;
}

.fa-github-square {
    font-size: 48px;
    color: Black;
}

.fa-stack-overflow {
    font-size: 48px;
    color: orange;
}

#submitButton {
    margin: 1%;
}

.photo {
    display: block;
    width: 25%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%
}

